<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forside</title>
    <link rel="stylesheet" th:href="@{/css/forside.css}" href="../css/forside.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/footer.css">


</head>
<header>
<a href="forside.html" th:href="forside">
    <img class="logo" src="/static/images/onskesoen.png" th:src="@{images/onskesoen.png}">
</a>
    <a href="forside.html" th:href="forside">
        <img class="profil" src="/static/images/profilbillede.png" th:src="@{images/profilbillede.png}">
    </a>

    <a class="hjem" href="forside.html" th:href="@{forside}">
        Hjem
    </a>
    <a class="ønskeliste" href="forside.html" th:href="@{forside}">
        Ønskelister
    </a>
    <a class="inspiration" href="forside.html" th:href="@{forside}">
        Inspiration
    </a>

</header>
<body>
<h1 class="overskrift">Hej med dig</h1>

</body>
<footer>
    <a class="kundeservice" href="forside.html" th:href="@{forside}">
        Kundeservice
    </a>
    <a class="OmOs" href="forside.html" th:href="@{forside}">
        Om os
    </a>

</footer>
</html>