<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forside</title>
    <link rel="stylesheet" th:href="@{/css/forside.css}" href="../css/forside.css">

</head>
<header>
<a href="forside.html" th:href="forside">
    <img class="logo" src="/static/images/onskesoen.png" th:src="@{images/onskesoen.png}">
</a>
    <a href="forside.html" th:href="forside">
        <img class="profil" src="/static/images/profilbillede.png" th:src="@{images/profilbillede.png}">
    </a>
    <div class="dropdown-menu">
        <ul>
            <li><a href="#">Mulighed 1</a></li>
            <li><a href="#">Mulighed 2</a></li>
            <li><a href="#">Mulighed 3</a></li>
        </ul>
    </div>

</header>
<body>
<h1 class="overskrift">Hej med dig</h1>

</body>
</html>