<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forside</title>

    <link rel="stylesheet" th:href="@{/css/forside.css}" href="../css/scrollbar.css">
    <link rel="stylesheet" th:href="@{/css/headerForside.css}" href="../css/headerForside.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/footer.css">
    <link rel="stylesheet" th:href="@{/css/forside.css}" href="../css/forside.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

</head>
<header>
     <div class="header">
        <a href="forside.html" th:href="forside">
            <img class="logo" src="/static/images/onskesoen.png" th:src="@{images/onskesoen.png}" alt="Logo">
        </a>
        <a href="forside.html" th:href="forside">
            <img class="profil" src="/static/images/profilbillede.png" th:src="@{images/profilbillede.png}" alt="profil">
        </a>
         <a class="hjem" href="forside.html" th:href="@{forside}">
             Hjem
         </a>
         <a class="ønskeliste" href="onskeliste.html" th:href="@{onskeliste.html}">
             Ønskelister
         </a>
         <a class="inspiration" href="forside.html" th:href="@{forside}">
             Inspiration
         </a>
     </div>
</header>
<body>
    <div class="baggrund">
        <img class="baggrund" src="/static/images/cartooncoast1.jpeg" th:src="@{images/waterbg.png}" alt="baggrund">
    </div>
   <main>
    <section class="container1">
        <p>
            hej med dig    hej med dig   hej med dig   hej med dig   hej med dig   hej med dig   hej med dig   hej med dig   hej med dig
            hej med dig    hej med dig   hej med dig   hej med dig   hej med dig   hej med dig   hej med dig   hej med dig   hej med dig
            hej med dig    hej med dig   hej med dig   hej med dig   hej med dig  hej med dig   hej med dig   hej med dig   hej med dig

        </p>
    </section>
   </main>
    <footer>
        <div class="footer">
            <a class="kundeservice" href="forside.html" th:href="@{forside}">
                Kundeservice
            </a>
            <a class="omOs" href="forside.html" th:href="@{forside}">
                Om os
            </a>
        </div>
    </footer>
</body>

</html>