<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glemt Adgangskode</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/footer.css">
    <link rel="stylesheet" th:href="@{/css/glemtAdgangskode.css}" href="../css/glemtAdgangskode.css">
</head>
<body>
<header class="header">
    <h1>Glemt Adgangskode</h1>
</header>
<main class="main-content">
    <section>
        <p>Har du glemt din adgangskode? Intet problem! Indtast din e-mailadresse nedenfor, og vi sender dig instruktioner til at nulstille din adgangskode.</p>
        <form action="reset_password.php" method="post">
            <label for="email">E-mailadresse:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Send Nulstillingslink</button>
        </form>
    </section>
</main>
<footer class="footer">
    <p>&copy; 2024 Ønske Søen</p>
</footer>
</body>
</html>
