<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Os</title>
    <link rel="stylesheet" th:href="@{/css/headerForside.css}" href="../css/headerForside.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/footer.css">
    <link rel="stylesheet" th:href="@{/css/kundeservice.css}" href="../css/kundeservice.css">
    <link rel="stylesheet" th:href="@{/css/OmOs.css}" href="../css/OmOs.css">
</head>
<body>
<header class="header">
    <a href="forside.html" th:href="forside">
        <img class="logo" src="/static/images/onskesoen.png" th:src="@{images/onskesoen.png}" alt="Logo">
    </a>
    <a href="forside.html" th:href="forside">
        <img class="profil" src="/static/images/profilbillede.png" th:src="@{images/profilbillede.png}" alt="profil">
    </a>
    <a class="hjem" href="forside.html" th:href="@{forside}">
        Hjem
    </a>
    <a class="ønskeliste" href="onskeliste.html" th:href="@{onskeliste.html}">
        Ønskelister
    </a>
    <a class="inspiration" href="forside.html" th:href="@{forside}">
        Inspiration
    </a>
</header>
<main>
    <div class="boks">
    <section>
        <h2>Kontaktinformation</h2>
        <p> Vi er her for at hjælpe! Du kan kontakte os på følgende e-mailadresse: kontakt@onskesoen.dk.
            Vores dedikerede kundeserviceteam bestræber sig på at besvare alle henvendelser så hurtigt som
            muligt. Uanset om du har brug for assistance med din konto, har spørgsmål om vores tjenester,
            eller ønsker at give os feedback, er du velkommen til at skrive til os. Vi ser frem til at
            hjælpe dig med dine behov og ønsker.</p>
    </section>
    <section>
        <h2>Ofte stillede spørgsmål (FAQ)</h2>
        <p>Hvordan opretter jeg en ny ønskeliste? Her klikker du øverst på siden på "ønskeliste" og klikker på "opret
        ønskeliste" og udfylder formularen.<br> Hvordan sletter jeg min ønskeliste? Her klikker du simpelt ind
        på din ønskeliste du ønsker at slette, rediger og derefter på slet ønskeliste. </p>

    </section>
    <section>
        <h2>Privatlivspolitik og vilkår og betingelser</h2>
        <p>Vi indsamler din data og dine oplysninger. Vi bruger dem til at kontakte dig om nyheder og andre tilbud</p>
        <p> Du har ret til at få adgang til, rette eller slette dine personoplysninger. Hvis du ønsker at ændre eller slette dine oplysninger, bedes du kontakte os på mail.</p>
        <p>Vi sælger din data til højestbydende (oftest Nord Korea), og vi deler din data med tredjeparter uden din samtykke</p>
    </section>
    </div>
</main>
<footer class="footer">
    <p class="kundeservice">Kundeservice: kontakt@onskesoen.dk</p>
</footer>
</body>
</html>