<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Os</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/footer.css">
    <link rel="stylesheet" th:href="@{/css/OmOs.css}" href="../css/OmOs.css">
</head>
<body>
<header class="header">
    <img class="logo" src="/static/images/onskesoen.png" alt="Ønske Søen Logo">
    <a href="#" class="hjem">Hjem</a>
    <a href="#" class="ønskeliste">Ønskeliste</a>
    <a href="#" class="inspiration">Inspiration</a>
    <img class="profil" src="/static/images/profil.png" alt="Profil Billede">
</header>
<main>
    <section>
        <h2>Om Vores Virksomhed</h2>
        <p>Vi er en virksomhed dedikeret til at gøre ønsker til virkelighed. Gennem vores platform, Ønske Søen, hjælper vi folk med at oprette og dele ønskeskyer, så de kan få de gaver, de virkelig ønsker sig.</p>
    </section>
    <section>
        <h2>Vores Mission</h2>
        <p>Vi stræber efter at skabe glæde og tilfredshed hos vores brugere ved at give dem en nem og sjov måde at organisere deres ønsker og dele dem med deres venner og familie.</p>
    </section>
    <section>
        <h2>Kontakt Os</h2>
        <p>Har du spørgsmål eller forslag? Kontakt os gerne på følgende e-mailadresse: kontakt@onskesoen.dk</p>
    </section>
</main>
<footer class="footer">
    <p class="kundeservice">Kundeservice: kontakt@onskesoen.dk</p>
</footer>
</body>
</html>