<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/footer.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/scrollbar.css">
</head>
<header>
    <a href="forside.html" th:href="forside">
        <img class="logo" src="/images/onskesoen1.png" th:src="@{images/onskesoen.png}">
    </a>
    <a href="forside.html" th:href="forside">
        <img class="profil" src="/static/images/profilbillede.png" th:src="@{images/profilbillede.png}">
    </a>

    <a class="hjem" href="forside.html" th:href="@{forside}">
        Hjem
    </a>
    <a class="ønskeliste" href="forside.html" th:href="@{forside}">
        Ønskelister
    </a>
    <a class="inspiration" href="forside.html" th:href="@{forside}">
        Inspiration
    </a>

</header>
<body>

</body>
<footer>
    <a class="kundeservice" href="forside.html" th:href="@{forside}">
        Kundeservice
    </a>
    <a class="omOs" href="forside.html" th:href="@{forside}">
        Om os
    </a>

</footer>
</html>