<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privatlivspolitik</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/footer.css">
    <link rel="stylesheet" th:href="@{/css/privacy.css}" href="../css/privacy.css">
</head>
<body>
<header class="header">
    <h1>Privatlivspolitik</h1>
</header>
<main class="main-content"> <!-- Tilføjet en klasse til main elementet -->
    <section>
        <h2>Personlige Oplysninger</h2>
        <p>Vi behandler dine personlige oplysninger fortroligt og deler dem ikke med tredjeparter uden dit samtykke, medmindre det er påkrævet ved lov.</p>
    </section>
    <section>
        <h2>Cookies</h2>
        <p>Vi bruger cookies på vores hjemmeside til at forbedre din oplevelse. Ved at bruge vores hjemmeside accepterer du vores cookiepolitik. Vi stjæler ikke noget fra dig.🙂</p>
    </section>
    <section>
        <h2>Ændringer i Politikken</h2>
        <p>Vi forbeholder os retten til at ændre denne privatlivspolitik. Eventuelle ændringer vil blive offentliggjort på denne side, og videre sendt til jeres mail.🙂</p>
    </section>
    <section>
        <h2>Kontakt Os</h2>
        <p>Hvis du har spørgsmål om vores privatlivspolitik, er du velkommen til at kontakte os på følgende e-mailadresse: privacy@onskesoen.dk, eller inde under kundeservice.🙂</p>
    </section>
</main>
<footer class="footer">
    <p>&copy; 2024 Ønske Søen</p>
</footer>
</body>
</html>
