<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8-bittest</title>

    <link rel="stylesheet" th:href="@{/css/test.css}" href="../css/test.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

</head>
<header>
    <div class="header">
            <div class="navbar">
                <a href="forside.html" th:href="@{forside}">HJEM</a>
                <a href="forside.html" th:href="@{forside}">ØNSKELISTER</a>
                <a href="forside.html" th:href="@{forside}">INSPIRATION</a>
            </div>
    </div>
</header>
<body>
    <div class="titel">
    <p>

        PixelWish
          <!-- Pixel Dream List
        Temu Wishlist-->

    </p>
    </div>
    <div class="baggrund">
        <img class="baggrund-img" src="/static/images/8bitbg.jpg" th:src="@{images/8bit.jpg}" alt="baggrund">
    </div>
</body>
</html>