<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ønske Søen</title>
</head>
<body>
<h1>Ønske Søen</h1>

<form id="wishlistForm" class="wishlistFO">
    <label for="wishlistName">Navn på Ønskesky:</label>
    <input type="text" id="wishlistName" name="wishlistName" required>
    <button type="submit">Opret Ønskesky</button>
</form>

<!-- Liste over oprettede ønskeskyer -->
<h2>Oprettede Ønskeskyer:</h2>
<ul id="wishlists"></ul>
</body>
</html>
