footer {
    padding: 0;
    margin: 0;
    position: relative;
    color: white;
    width: 100%;
    height: 50vh;
    /*background: linear-gradient(to bottom, #1CBDF3, 70%, blue);*/
    /*background: linear-gradient(to top, #0000ff, #1CBDF3);*/
    background-color: green;
    bottom: 0;
    font-family: "Lexend Deca", sans-serif;
}

.hjælp{
    display: grid;
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 2.3vh;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    grid-row-gap: 4vh;
}

.hjælp a{
    color: white;
    text-decoration: none;
}

.hjælp a:hover{
    text-decoration: underline;
}

.samarbejdspartnere{
    display: grid;
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 2.3vh;
    left: 85%;
    top: 35%;
    transform: translate(-85%, -35%);
    grid-row-gap: 4vh;
}

.samarbejdspartnere a{
    color: white;
    text-decoration: none;
}

.samarbejdspartnere a:hover{
    text-decoration: underline;
}

.tilmelding{
    display: grid;
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 2.3vh;
    left: 15%;
    top: 40%;
    transform: translate(-15%, -40%);
    grid-row-gap: 4vh;
}

.tilmelding-knap{
    transform: translate(140%);
    width: 10vh;
}

