body{
    padding: 0;
    margin: 0;
    height: 90vh;
    background-color: #1CBDF3;
    font-family: "Lexend Deca", sans-serif;
}

.container-1 {
    width: 33%;
    height: 30vh;
    margin-top: 40vh;
    margin-bottom: 22vh;
    transform: translate(100%, 0);
    background-color: white;
    font-size: 2vh;
    border-radius: 3vh;
    overflow: hidden;
}

.container-1 p{
transform: translate(5%);
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}