.main-content {
    margin-left: -8%;
    padding: 8%;
}

.help-section {
    margin-bottom: 1%;
}

.help-title {
    color: darkblue;
}

.faq-title {
    margin-top: 4%;
    color: darkblue;
}

.faq-list {
    list-style-type: none;
    padding: 0;
}

.faq-item {
    margin-bottom: 1%;
}

.faq-item strong {
    color: darkblue;
}

header {
    color: white;
}