body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1CBDF3;
}

main{
    height: 90vh;
}

.container-1{
    position: relative;
    width: 77%;
    height: 40vh;
    transform: translate(15%, 80%);
    background-color: white;
    border-radius: 2vh;
    font-size: 1.6vh;
}

.container-1 p{
    transform: translate(2%, 100%);
}

.container-1 h2{
    transform: translate(2%, 160%);
}