body {
    height: 100vh;
    padding-top: 20vh;
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    background-color: #1CBDF3;
}

main{
    height: 70vh;
}

.container-1{
    position: relative;
    width: 60%;
    height: 60%;
    background-color: #fff;
    border-radius: 5vh;
    box-shadow: 0 0 4vw;
    transform: translate(34%, 40%);
}

h2 {
    text-align: center;
}

label {
    padding:2vh;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 1%;
    margin: 1vh;
    border: .1vh solid #ccc;
}

.buttons{
    display: flex;
    justify-content: space-around;
    transform: translate(-40%, 40%);
}