body {
    background-color: #1CBDF3;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Lexend Deca", sans-serif;
}

main{
    height: 75vh;
}

.wishbox{
    width: 70%;
    height: 30vh;
    transform: translate(20%, 100%);
    margin-top: 7%;
    background-color: white;
    padding-top: 2vh;
    border-radius: 3vh;
    overflow: hidden;
}

.wishbox-overskrift {
    position: absolute;
    margin-left: 40%;
    font-size: 8vh;
    left: -3%;
    top: 20%;
    font-family: Acme, sans-serif;
}

.btn-create{
    transform: translate(180%);
}

.btn_fjern, .btn_view, .btn_update {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 1vh;
    transform: translate(230%);
}

.btn_fjern:hover, .btn_view:hover, .btn_update:hover {
    background-color: #0056b3;
}
