<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration</title>
    <link rel="stylesheet" th:href="@{/css/inspiration.css}" href="../static/css/inspiration.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../static/css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../static/css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <div class="header">
        <a href="forside.html" th:href="@{/}">
            <img class="logo" src="../static/images/onskesoen.png" th:src="@{images/onskesoen.png}" alt="Logo">
        </a>
        <a href="login.html" th:href="@{/}">
            <img class="profil" src="../static/images/profilbillede.png" th:src="@{images/profilbillede.png}" alt="profil">
        </a>
        <a class="hjem" href="forside.html" th:href="@{/}">
            Hjem
        </a>
        <a class="ønskeliste" href="onskeliste.html" th:href="@{/onskeliste}">
            Ønskelister
        </a>
        <a class="inspiration" href="inspiration.html" th:href="@{/}">
            Inspiration
        </a>
    </div>
</header>
<main>
    <h2 class="overskrift-container-1">Bliv Inspireret!</h2>
    <section class="container-1">
        <p>Her finder du masser af ideer og inspiration til gaver, arrangementer og meget mere!</p>
        <ul class="inspiration-list">
            <li><a href="#">10 Kreative Gaveideer til Din Bedste Ven</a></li>
            <li><a href="#">Sådan Planlægger du den Perfekte Fest</a></li>
            <li><a href="#">Gør-Det-Selv Gaver til Enhver Anledning</a></li>
            <li><a href="#">De Bedste Rejsemål for Eventyrlystne Par</a></li>
        </ul>
    </section>
</main>
<footer>
    <div class="hjælp">
        <h2>Hjælp</h2>
        <a class="kundeservice" href="https://chat.openai.com/" th:href="@{https://chat.openai.com/}">Kundeservice</a>
        <a class="omOs" href="forside.html" th:href="@{forside}">Om os</a>
        <a class="privatlivspolitik" href="privacy.html" th:href="@{privacy.html}">Privatlivspolitik </a>
        <a class="kontaktOs" href="privacy.html" th:href="@{privacy.html}">Kontakt os </a>
    </div>
    <div class="samarbejdspartnere">
        <h2>Samarbejdspartnere</h2>
        <a class="lego" href="https://www.lego.com/da-dk" th:href="@{https://www.lego.com/da-dk}">Lego</a>
        <a class="royal" href="https://royalunibrew.dk/" th:href="@{/https://royalunibrew.dk/}">Royal Unibrew</a>
        <a class="nfbio" href="https://nfbio.dk/city-select?destination=/" th:href="@{https://nfbio.dk/}">Nordisk Film Biograf</a>
        <a class="javabogen" href="https://javabog.dk/" th:href="@{https://javabog.dk/}">Java Bogen</a>
    </div>
    <div class="tilmelding">
        <h2>Klik her for at tilmelde<br> dig vores nyhedsbrev!</h2>
        <input type="text" id="mail">
        <button type="submit" class="tilmelding-knap">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" th:href="@{https://www.youtube.com/}">Tilmeld</a>
        </button>
    </div>
</footer>
</body>
</html>
