<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privatlivspolitik</title>
    <link rel="stylesheet" th:href="@{/css/forside.css}" href="../static/css/scrollbar.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../static/css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../static/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/privacy.css}" href="../static/css/privacy.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <div class="header">
        <a href="forside.html" th:href="@{/}">
            <img class="logo" src="../static/images/onskesoen.png" th:src="@{images/onskesoen.png}" alt="Logo">
        </a>
        <a href="login.html" th:href="@{/}">
            <img class="profil" src="../static/images/profil1.png" th:src="@{images/profilbillede.png}" alt="profil">
        </a>
        <a class="hjem" href="forside.html" th:href="@{/}">
            Hjem
        </a>
        <a class="ønskeliste" href="onskeliste.html" th:href="@{/onskeliste}">
            Ønskelister
        </a>
        <a class="inspiration" href="inspiration.html" th:href="@{/}">
            Inspiration
        </a>
    </div>
</header>
<main class="main-content"> <!-- Tilføjet en klasse til main elementet -->
    <section>
        <h2>Personlige Oplysninger</h2>
        <p>Vi behandler dine personlige oplysninger fortroligt og deler dem ikke med tredjeparter uden dit samtykke, medmindre det er påkrævet ved lov.</p>
    </section>
    <section>
        <h2>Cookies</h2>
        <p>Vi bruger cookies på vores hjemmeside til at forbedre din oplevelse. Ved at bruge vores hjemmeside accepterer du vores cookiepolitik. Vi stjæler ikke noget fra dig.🙂</p>
    </section>
    <section>
        <h2>Ændringer i Politikken</h2>
        <p>Vi forbeholder os retten til at ændre denne privatlivspolitik. Eventuelle ændringer vil blive offentliggjort på denne side, og videre sendt til jeres mail.🙂</p>
    </section>
    <section>
        <h2>Kontakt Os</h2>
        <p>Hvis du har spørgsmål om vores privatlivspolitik, er du velkommen til at kontakte os på følgende e-mailadresse: privacy@onskesoen.dk, eller inde under kundeservice.🙂</p>
    </section>
</main>
<footer>
    <div class="hjælp">
        <h2>Hjælp</h2>
        <a class="kundeservice" href="https://chat.openai.com/" th:href="@{https://chat.openai.com/}">Kundeservice</a>
        <a class="omOs" href="forside.html" th:href="@{forside}">Om os</a>
        <a class="privatlivspolitik" href="privacy.html" th:href="@{privacy.html}">Privatlivspolitik </a>
        <a class="kontaktOs" href="privacy.html" th:href="@{privacy.html}">Kontakt os </a>
    </div>
    <div class="samarbejdspartnere">
        <h2>Samarbejdspartnere</h2>
        <a class="lego" href="https://www.lego.com/da-dk" th:href="@{https://www.lego.com/da-dk}">Lego</a>
        <a class="royal" href="https://royalunibrew.dk/" th:href="@{/https://royalunibrew.dk/}">Royal Unibrew</a>
        <a class="nfbio" href="https://nfbio.dk/city-select?destination=/" th:href="@{https://nfbio.dk/}">Nordisk Film Biograf</a>
        <a class="javabogen" href="https://javabog.dk/" th:href="@{https://javabog.dk/}">Java Bogen</a>
    </div>
    <div class="tilmelding">
        <h2>Klik her for at tilmelde<br> dig vores nyhedsbrev!</h2>
        <input type="text" id="mail">
        <button type="submit" class="tilmelding-knap">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" th:href="@{https://www.youtube.com/}">Tilmeld</a>
        </button>
    </div>
</footer>
</body>
</html>
